<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rubber Stamp</title>
  <link rel="stylesheet" href="styles29.css">
  
</head>
<body>
  <div >
    <div class="seal29stamp">
      <span id="seal29Role" class="seal29role" contenteditable="true"></span>
      <div class="seal29bank-name">Esaf Bank Anakkatty</div>
      <div class="seal29branch">Branch: 92880 92671</div>
    </div>
    
  </div>
</body>
</html>
