 .seal28stamp {
      width: fit-content;
      height: 11mm;
      border: 1px solid lightgray;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: Arial, sans-serif;
    }

    .seal28name {
      font-weight: bold;
      font-size: 12pt;
    }

    .seal28emp-id {
      font-size: 10pt;
      font-weight: bold;
    }

    .seal28size {
      color: red;
      font-size: 10px;
      margin-top: 5px;
      text-align: left;
    }
   