.seal28stamp {
  width: fit-content;
  min-width: 35mm;
  height: 11m;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  padding: 5px;
  background: transparent; 
  border: 1px solid lightgray;
}



.seal28name {
  border: none;
  outline: none;
  background: transparent;
  display: inline-block;
  color: black;
  font-weight: 700;
  font-size: 12pt;
  text-align: center;
  white-space: nowrap;
  min-width: 80px;
}
.seal28name:empty:before {
  content: "Enter name";
  color: gray;
  pointer-events: none;
}


.seal28name:focus {
  outline: none;
}

.seal28emp-id {
  font-size: 10pt;
  font-weight: bold;
}






